.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 90px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  margin: 0 auto;
}
h1{text-align: center;}